@model DigutusProject.Core.DTOs.UserLoginDto
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.Message
    </div>
}
<div class="container row-cols-3 pt-5" align="center">
    <form asp-action="Login" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input asp-for="Email" required type="email" id="form2Example1" class="form-control" />
            <label asp-for="Email" class="form-label" for="form2Example1">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input asp-for="Password" required type="password" id="form2Example2" class="form-control" />
            <label asp-for="Password" class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">

            <div class="col">
                <!-- Simple link -->
                <a href="~/Auth/ResetPassword">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <input type="submit" class="btn btn-primary btn-block mb-4" value="Sign in"></input>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="~/Auth/Register">Register</a></p>
            <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>
    </form>
</div>