@model ResetPasswordViewModel
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.Message
    </div>
}
<div class="container row-cols-3 pt-5" align="center">
    <form asp-action="ResetPassword" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input asp-for="Email" required type="email" id="form2Example1" class="form-control" />
            <label asp-for="Email" class="form-label" for="form2Example1">Write an email</label>
        </div>

        <!-- Submit button -->
        <input type="submit" class="btn btn-primary btn-block mb-4" value="Send"></input>
    </form>
</div>